 /* Center the loader */

 .loader {
     position: absolute;
     left: 50%;
     top: 50%;
     z-index: 1;
     width: 150px;
     height: 150px;
     margin: -75px 0 0 -75px;
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid #3498db;
     width: 120px;
     height: 120px;
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
 }

 @-webkit-keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
     }
     100% {
         -webkit-transform: rotate(360deg);
     }
 }

 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }

 /* Add animation to "page content" */

 .animate-bottom {
     position: relative;
     -webkit-animation-name: animatebottom;
     -webkit-animation-duration: 1s;
     animation-name: animatebottom;
     animation-duration: 1s
 }

 @-webkit-keyframes animatebottom {
     from {
         bottom: -100px;
         opacity: 0
     }
     to {
         bottom: 0px;
         opacity: 1
     }
 }

 @keyframes animatebottom {
     from {
         bottom: -100px;
         opacity: 0
     }
     to {
         bottom: 0;
         opacity: 1
     }
 }

 #myDiv {
     display: none;
     text-align: center;
 }

 .dropdown-item {
     display: block;
     width: 100%;
     /* padding: .25rem 1.5rem; */
     clear: both;
     font-weight: 400;
     color: #212529;
     text-align: inherit;
     white-space: nowrap;
     /* background: 0 0; */
     /* border: 0; */
     padding: 8px 16px;
     color: #333333;
     font-size: 16px;
 }

 @media (max-width: 991px) {
     .nav-mobile-menu .dropdown .dropdown-menu .dropdown-item {
         border-radius: 4px;
         color: #FFFFFF;
         opacity: .86;
         padding: 8px 50px;
     }
 }

 .sidebar .nav .nav-link, body>.navbar-collapse .nav .nav-link {
     color: #FFFFFF;
     margin: 5px 15px;
     opacity: .86;
     border-radius: 4px;
     text-transform: uppercase;
     line-height: 30px;
     font-size: 12px;
     font-weight: 600;
 }

 .sidebar .nav span {
     margin: 0;
     line-height: 30px;
     font-size: 12px;
     font-weight: 600;
     text-transform: uppercase;
     margin-left: 45px;
 }

 .card .card-image img {
     width: 100%;
 }

 .card-user .card-image {
     height: 150px;
     overflow: hidden;
 }

 .card-user .avatar {
     border: 4px solid #FFFFFF;
     position: relative;
     margin-bottom: 15px;
 }

 @media (min-width: 992px) {
     .table-full-width {
         margin-left: 0px !important;
         margin-right: 0px !important;
     }
 }

 .input-group-addon {
     background-color: #3498db;
     border-color: #3498db;
     color: white;
 }

 .panel-body {
     padding: 9px !important;
 }

 @media (max-width: 576px) {
     .card-user .card-image {
         height: 100px !important;
     }
 }

 @media (min-width: 992px) {
     #infoPersonal {
         height: 300px;
     }
 }

 .alert-deuda {
    background: rgb(52,152,219);
    background: linear-gradient(90deg, rgba(52,152,219,1) 0%, rgba(52,178,219,0.98) 60%);
 }

 .filaFinal{
     font-size: 14px;
     border-top: 2px solid black;
 }

 .alinear {
    text-align: center;
 }

 .menuMasOpciones a{
     cursor: pointer;
 }

 .divSelCantMat{
     display: flex;
     justify-content: space-between;
 }

 .sim-div{
     font-size: 13px;
 }

 .panel-heading h4{
    font-weight: bold;
    font-size: 19px;
}

 @media (min-width: 350px){
    .sim-div{
        font-size: 14px;
    }

    .panel-heading h4{
        font-size: 22px;
    }
 }

 @media (min-width: 768px){
    .sim-div{
        display: flex;
        justify-content: space-between;
    }   
 }
 
 .divSelCantMat{
     align-items: center;
     margin-bottom: 20px;
 }
 
 .divSelCantMat select{
     margin-left: 15px;
 }

 .primeraFila{
    border-top: hidden;
}

.itemCosto{
    font-weight: bold;
}

.filaTotal{
    border-top: 2px solid black;
}

.div-chk{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.chkDesc{
    width: 20px;
    height: 20px;
    /* margin-top: 0; */
}

.div-chk label{
    margin-bottom: 0;
    margin-left: 5px;
    font-weight: normal;
}

/* Eliminar cuando ya esté listo, sólo durante tiempo de desarrollo */
.btnSimulador{
    cursor: pointer;
}

.div-chk input[type=checkbox]{
    margin: 0;
}

.div-btns{
    display: flex;
    justify-content: center;
}

#btnSimular{
    margin-right: 10px;
}

#btnCancelarSim{
    margin-left: 10px;
}

.table-der{
    text-align: right;
}

.spCantidad{
    font-size: 12px;
    /* font-weight: bold; */
}

.itemCosto{
    font-weight: bold;
}

#tableCostosMaterias>tbody>tr>td,
#tableCostosFijos>tbody>tr>td{
    padding-left: 0;
    padding-right: 0;
}

.div-opciones select,
.div-opciones input[type=number]{
    width: 50px;
}

@media (max-width: 768px){
    .div-opciones select,
    .div-opciones input[type=number]{
        padding: 0 5px;
    }
}

@media (min-width: 769px){
    .div-opciones select,
    .div-opciones input[type=number]{
        width: 67px !important;
    }   
}

.footerSimulador{
    font-size: 14px;
}

.linea-divisoria{
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
}