html {
    overflow-x: hidden;
    font-size: 1em;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.fondo {
    background: linear-gradient(45deg, #004e94 0%, #08A5DF 100%);
}

.logo img {
    width: 66%;
}

.miArticulo {
    width: 100%;
    padding: 15px;
    margin: 15px auto;
}

@media screen and (min-width: 768px) {
    .logo img {
        width: 45%;
    }
    .miArticulo {
        width: 66%;
        padding: 50px 15px;
    }
}