#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#mainLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.titulosTablas {
    font-size: 16px;
    margin-left: 0.4%;
    font-weight: bold;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }

    body {
        overflow-x: hidden;
    }

    .content {
        overflow: hidden !important;
        font-size: 5px !important;
        ;
    }

    .card {
        margin-bottom: 1px;
    }

    .table {
        margin-bottom: 2px;
    }

    .notas td {
        padding: 0.4% !important;
        padding-left: 0.8% !important;
        font-size: 8px
    }
}

@page {
    size: auto;
    margin: 0mm;
}

#infoAlumno td {
    border-top: none !important;
    padding: 0.2%;
}

#infoAlumno * {
    font-size: 12px
}

#imgPrint {
    width: 2.8%;
    float: left;
    left: 30;
}

@media (max-width: 600px) {
    #infoAlumno * {
        font-size: 8px
    }

    #imgPrint {
        width: 10%;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    #imgPrint {
        width: 50px;
    }
}

.contenedor-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .contenedor-info p {
        font-size: 9px;
        margin: 0;
    }

@media (min-width: 425px) {
    .contenedor-info p {
        font-size: 11px;
    }
}

@media (min-width: 768px) {
    .contenedor-info p {
        font-size: 13px;
    }
}

.titulo {
    font-size: 16px;
}

@media (min-width: 425px) {
    .titulo {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .titulo {
        font-size: 30px;
    }
}


.header-sub > h5 {
    font-size: 14px;
}

@media (min-width: 425px) {
    .header-sub > h5 {
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .header-sub > h5 {
        font-size: 18px;
    }
}

.card .header-sub {
    padding: 15px 15px;
}

#tablaOferta td,
#tablaOfertaSemi td,
#tablaDocumentos td {
    font-size: 12px;
}

@media (min-width: 768px) {
    #tablaOferta td,
    #tablaOfertaSemi td,
    #tablaDocumentos td {
        font-size: 14px;
    }
}

#horasServicio {
    font-weight: bold;
}

.chkRow {
    width: 22px;
    height: 22px;
}

.card {
    box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.75);
}

#iPrint, #iCompPago{
    font-size: 30px;
    color: gray;
    margin-left: 10px;
    float: left;
}

@media (min-width: 768px){
    #iCompPago{
        font-size: 35px;
    }
}

.primeraFila {
    border-top: hidden;
}

.table-der {
    text-align: right;
}

/* #tableCostosMaterias td{
    font-size: 13px;
} */

#titulo-modal {
    font-weight: bold;
}

.spCantidad {
    font-size: 12px;
    /* font-weight: bold; */
}

.itemCosto {
    font-weight: bold;
}

.filaTotal {
    border-top: 2px solid black;
}

/* #pagoContado */
.chkDesc {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: 0;
}

.labelCheckbox {
    margin-left: 3px;
    margin-top: 2px;
    color: black;
    font-weight: normal;
    font-size: 15px;
}

.divCuotas {
    padding: 0;
    display: flex;
}

.lbCuotas{
    align-self: flex-end;
}

#cbCuotas {
    margin-left: 5px;
    padding: 0;
    height: 28px;
    width: 45px;
}

.div-chk {
    margin-bottom: 20px;
}

#modalCostos input[type=checkbox] {
    margin: 0;
}

#contabilizar{
    background-image: linear-gradient(to right, #00396f, #013e78, #024380, #034889, #044d92);
    color: white;
    border: none;
}

.divModalFooter {
    display: flex;
    justify-content: flex-end;
}

.divModalCostoFooter{
    display: flex;
    justify-content: space-between;
}


.div-parrafo, .div-fichero {
    text-align: center;
}

.div-fichero {
    margin: 35px 0;
}

#fichero {
    display: none;
}

#btnSubir {
    background: rgb(46,106,100);
    background: linear-gradient(94deg, rgba(46,106,100,1) 0%, rgba(44,97,92,1) 100%);
    color: white;
    border: none;
}

.boton-subir {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    background-color: rgb(45, 189, 166);
    color: white;
    font-size: 16px;
    border-radius: 100px;
    padding: 0px 20px 0px 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
    .boton-subir:hover {
        color: black;
    }

.boton-siguiente,
.btnAtras,
.btnConfirmar,
.btnEnviar {
    background-color: rgb(45, 189, 166) !important;
    color: white;
    border-radius: 100px;
    border-style: none;
    padding: 10px 20px;
}

.boton-siguiente:hover,
.btnAtras:hover,
.btnConfirmar:hover,
.btnEnviar:hover {
    color: black;
}

.modal-carga{
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba( 0, 0, 0, .8 ) ;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.loading{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #002e91;
    position: relative;
    animation: a1 2s linear infinite;
}

.loading::before, .loading::after{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loading::before{
    border-top: 10px solid #c5a11f;
    transform: rotate(120deg);

}

.loading::after{
    border-top: 10px solid #fff;
    transform: rotate(240deg);
}

.loading span{
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}

@keyframes a1{
    to{
        transform: rotate(360deg);
    }
}

@keyframes a2{
    to{
        transform: rotate(-360deg);
    }
}


